body {
    background: darkgrey;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px 5px grey;
  }
  
  .navbar {
    padding: 0;
  }
  
  .logo {
      width: 65px;
      height: 65px;
  }
  
  input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #fa9102;
      outline: none;
      color: white;
      font-size: 16px;
    }
  
  .container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
  }
  
  .cart{
      color: white;
      position: absolute;
      cursor: pointer;
      font-size: 25px;
      transition: all 300ms ease-in-out;
  }
  
  .cart:hover {
    color: #fa9102;
  }
  
  .count {
    padding: 10px;
    background-color: #fa9102;
    color: white;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 14px;
    position: relative;
    top: -30%;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .exit {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .exit:hover {
    color: #fa9102;
  }
  
  .exit-icon {
    font-size: 25px;
  }

  .card {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 250px);
    width: 100%;
    border-radius: 20px;
    padding: 0;
  }

  .items {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60vh;
    overflow-y: scroll; 
}

  .items::-webkit-scrollbar {
    width: 8px;
  }

  .items::-webkit-scrollbar-thumb {
    background: #fa9102;
    border-radius: 4px;
  }

  .card-img {
    object-fit: contain;
  }

  h5, h4 {
    font-weight: bold;
  }

  .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #505050;
    transition: all 300ms ease-in-out;
  }

  .remove:hover {
    color: #fa9102;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .back {
    margin: 0 15px 0 15px;
    color: white;
    background: #505050;
    transition: all 300ms ease-in-out;
  }

  .back:hover {
    background: #505050;
    color: #fa9102;
  }

  .clear {
    color: #505050;
    transition: all 300ms ease-in-out;
  }

  .clear:hover {
    color: #fa9102;
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    border-top: 2px solid #fa9102;
  } 

  .totalContainer {
    justify-content: center;
  }

  h4 {
    margin: 0 50px 0 auto;
  }

  .finish {
    font-size: 20px;
    height: 50px;
    margin: 20px 50px 20px auto;
    color: white;
    background: #fa9102;
    transition: all 300ms ease-in-out;
  }

  .finish:hover {
    background: white;
    border: 2px solid #fa9102;
    color: #505050;
    box-shadow: 0 0 10px #505050;
  }
  
  ul {
    font-size: x-large;
  }
  
  li:hover {
    scale: 1.2;
    transition: all 200ms ease-in-out;
  }
  
  @media screen and (max-width: 575px) {
    .header {
      height: 150px;
    }
  
    .logo {
      width: 12vw;
      height: 12vw;
  }
  
    input {
      width: 150px;
      font-size: 12px;
    }
  
    .count {
      font-size: 10px;
    }
  
    .navbar-brand{
      width: 100%;
      margin: 0 0 30px 0;
      display: flex;
      justify-content: center;
    }
  
    .container-cart {
      margin: 0;
    }
  
    .cart, .exit-icon {
      font-size: 18px;
    }
  
    .alter {
      width: 100%;
      justify-content: space-between;
    }

    .card {
      width: 90%;
    }

    .remove {
      font-size: 14px;
    }

    h6 {
      font-size: 14px;;
    }

    p {
      font-size: 12px;
    }

    h5 {
      font-size: 14px;
    }

    .back {
      font-size: 10px;
      margin: 0 0 10px 10px;
    }

    .clear {
      font-size: 12px;
    }

    .total {
      align-items: start;
    }

    .totalContainer {
      width: 40%;
    }

    h4 {
      margin: 5px 10px 0 auto;
      font-size: 16px;
    }  

    .finish {
      font-size: 16px;
      height: 50px;
      width: 90%;
      margin-top: 30px;
      margin-left: 5%;
    }
  
    footer {
      font-size: 12px;
    }
   }

   @media screen and (max-width: 767px) and (min-width: 576px) {
    .remove {
      font-size: 16px;
    }
  
    p {
      font-size: 12px;
    }
  
    h5 {
      font-size: 16px;
    }
  
    .back {
      font-size: 14px;
      margin: 0 0 10px 10px;
    }
  
    .clear {
      font-size: 14px;
    }
  
    .total {
      align-items: start;
    }
  
    .totalContainer {
      width: 40%;
    }
  
    h4 {
      margin: 5px 15px 0 auto;
      font-size: 20px;
    }  
  
    .finish {
      font-size: 20px;
      height: 50px;
      width: 90%;
      margin-top: 30px;
      margin-left: 5%;
    }
   }