body {
    background: darkgrey;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px 5px grey;
}

.navbar {
    padding: 0;
}

.logo {
    width: 65px;
    height: 65px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fa9102;
  color: white;
  outline: none;
  opacity: 0.7;
}

.container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.cart{
    color: white;
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    transition: all 300ms ease-in-out;
}

.cart:hover {
    color: #fa9102;
}

.count {
    padding: 10px;
    background-color: #fa9102;
    color: white;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 14px;
    position: relative;
    top: -30%;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.exit:hover {
    color: #fa9102;
}

.exit-icon {
    font-size: 25px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.card {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px #505050;
    color: #505050;
}

.card .rowItem {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 498px;
}

.imgDetailContainer {
  width: 50%;
  height: 95%;
  display: flex;
  justify-content: center;
  border-right: 1px inset #505050;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
  }

.description {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    justify-content :space-between;
    text-align: start;
}

.description .price {
  font-weight: bold;
}

.counter {
    width: 100%;
    display: flex;
    justify-content: start;
}

.CounterButton {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  color: white;
  background: #fa9102;
  transition: all 300ms ease-in-out;
}

.CounterButton:hover {
  background: white;
  border: 2px solid #fa9102;
  color: #505050;
  box-shadow: 0 0 10px #505050;
}

#quantity {
    width: 40px;
    text-align: center;
    font-size: 18px;
}

.add {
    margin-left: auto;
    color: white;
    background: #fa9102;
    width: 40%;
    transition: all 300ms ease-in-out;
  }
  
  .add:hover {
    background: white;
    border: 2px solid #fa9102;
    color: #505050;
    box-shadow: 0 0 10px #505050;
  }

  .return {
    margin-left: auto;
    position: relative;
    top: 20px;
    right: 0px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    color: #505050;
    transition: all 300ms ease-in-out;
  }
  
  .return:hover {
    color: #fa9102;
  }

  .return i {
    display: flex;
    justify-content: center;
    align-items: center;
  }

ul {
    font-size: x-large;
}
  
li:hover {
    scale: 1.2;
    transition: all 200ms ease-in-out;
}
  
@media screen and (max-width: 575px) {
  .header {
    height: 150px;
  }

  .logo {
    width: 12vw;
    height: 12vw;
}

  input {
    width: 150px;
    font-size: 12px;
  }

  .count {
    font-size: 10px;
  }

  .navbar-brand{
    width: 100%;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
  }

  .container-cart {
    margin: 0;
  }

  .cart, .exit-icon {
    font-size: 18px;
  }

  .content {
    justify-content: center;
  }

  .card {
    width: 100%;
    height: 455px;
  }

  .imgDetailContainer {
    width: 100%;
    height: 40%;
    padding-top: 20px;
    border: none;
  }

  .card .rowItem{
    flex-direction: column;
    padding: 0;
  }

  .description {
    padding: 10px;
  }

  .description h4 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .counter {
    margin-top: 50px;
  }

  .counter div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 15px;
  }

  .CounterButton {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .add {
    margin-right: 15px;
    font-size: 11px;
  }

  .return {
    margin-left: auto;
    position: relative;
    top: 45px;
    right: 0px;
    font-size: 25px;
  }

  #quantity {
    font-size: 12px;
  }

  .alter {
    width: 100%;
    justify-content: space-between;
  }

  footer {
    font-size: 12px;
  }
 }

 @media screen and (max-width: 767px) and (min-width: 576px) {
  .content {
    margin: 0;
    justify-content: center;
  }

  .card {
    width: 100%;
    height: 70%;
  }

  .imgDetailContainer {
    width: 100%;
    height: 40%;
    padding-top: 20px;
    border: none;
  }

  .card .rowItem{
    flex-direction: column;
  }

  .description {
    padding: 20px;
  }

  .description h4 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .counter {
    margin-top: 30px;
  }

  .counter div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 15px;
  }

  .CounterButton {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .add {
    margin-right: 15px;
    font-size: 13px;
  }

  .return {
    margin-left: auto;
    position: relative;
    top: 30px;
    right: 0px;
    font-size: 25px;
  }

  #quantity {
    font-size: 13px;
  }

 }